@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes gradient-move {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #6366f1, #a21caf, #b18a9d, #f59e42);
  background-size: 400% 400%;
  animation: gradient-move 10s ease-in-out infinite;
}

#butt1{
  color: black;
  background-color: chartreuse;
}

#butt2{
  color: black;
  background-color: red;
}

#butt3{
  color: black;
  background-color: greenyellow;
}

#viewproj:hover{
  color: greenyellow;
  text-decoration:dotted;
  background-color: black;
  font-weight: 1000;
}

#projects{
  padding: 4px;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  margin: 4px;
}

#projo:hover{
  background-color: gray;
  font-weight: 500;
}

#projo{
  margin: 4px;
  padding: 4px;
  width: 40%;
  border-radius: 3px;
}