@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
}

@keyframes gradient-move {
  0%, 100% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
}

.animated-gradient {
  background: linear-gradient(-45deg, #6366f1, #a21caf, #b18a9d, #f59e42);
  background-size: 400% 400%;
  animation: gradient-move 10s ease-in-out infinite;
}